<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003513018643-sjlvv71mg20gph9hs39lnohmutek2k9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003513018643-sjlvv71mg20gph9hs39lnohmutek2k9g</string>
	<key>API_KEY</key>
	<string>AIzaSyArysMgNfVo8-blxBInfQ7dOFsw0e9M574</string>
	<key>GCM_SENDER_ID</key>
	<string>1003513018643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Markaye.Exploratory</string>
	<key>PROJECT_ID</key>
	<string>exploratory-70468</string>
	<key>STORAGE_BUCKET</key>
	<string>exploratory-70468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003513018643:ios:336648c2cd230a257282e6</string>
</dict>
</plist>